<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <style>
        .page{
            text-align: center;
            margin-left: 500px;
            margin-right: 100px;
            margin-top: 100px;
        }

        .post{
            padding: 10px;
            width: 300px;
            border: 3px solid black
        }
        img{
            width: 300px;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="post">
        <div>
            <p> <i class="fa fa-user" style="width: 30px; color: black; font-size: 25px;"> </i>
                LeBron James</p>
        </div>
        <div>
            <img src="https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_md_2x/f_auto/primary/c5r52rbifxn2srhp9no0" alt="image post">
        </div>

        <div>
            <p>Position: Small forward, Power forward;
                Nicknames: King James, Hammer of Akron;
                Height: 203 cm;
                Weight: 113 kg;
                Citizenship: USA;
            </p>
        </div>
    </div>
</div>
</body>
</html>